// SIDEBAR GLOBAL
aside {
    margin-top: 10px;
    h1 {
        font-family: $fontPrimary;
        font-size: $fontSizeL;
        font-weight: $fontW700;
        border-left: 10px solid $colorPrimary;
        padding: 0 10px;
    }
}
.social-icons {
    display: flex;
    width: 100%;
    justify-content: space-between;

    a {
        color: $colorPrimary;
        transition: 0.5s;
    }
    .bi-facebook {
        color: map-get($social, "facebook");
    }
    .bi-twitter {
        color: map-get($social, "twitter");
    }
    .bi-youtube {
        color: map-get($social, "youtube");
    }
    .bi-instagram {
        color: map-get($social, "instagram");
    }
    a:hover {
        transform: translate(5px, -10px);
    }
}

.gustar {
    font-family: $fontPrimary;
    font-size: $fontSizeM;
    font-weight: $fontW800;
    .si {
        @include progressbar (green, white, 80%)
    }
    .no {
        @include progressbar (red, white, 20%)
    }
}


// HEREDADO



.publicidad {
    border-radius: 10px;
    transition: transform 0.5s;
}

.publicidad:hover {
    transform: translate(5px, -10px);
}

.video{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.video h3 {
    width: 60%;
    font-size: 22px;
    font-weight: 700;
}

.video p {
    text-align: right;
    width: 40%;
    font-size: 14px;
    color: grey;
}